@font-face {
  font-family: "HankenGrotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
}

:root {
  font-family: "HankenGrotesk", sans-serif;
  line-height: 1.3;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100mvh;
  align-content: center;
  justify-content: center;
}

main {
  margin-inline: auto;
}
