@font-face {
  font-family: "HankenGrotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
}

:root {
  font-family: "HankenGrotesk", sans-serif;
  line-height: 1.3;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-white: hsl(0 100% 100%);
  --clr-black: hsl(0 0% 0%);

  --clr-navy-950: hsl(224 30% 27%);
  --clr-navy-200: hsl(241 100% 89%);

  --clr-blue-800: hsl(234 85% 45%);
  --clr-blue-50: hsl(234 71% 97%);

  --clr-yellow-400: hsl(39 100% 56%);
  --clr-yellow-50: hsl(38 100% 98%);

  --clr-red-400: hsl(0 100% 67%);
  --clr-red-50: hsl(0 100% 98%);

  --clr-green-500: hsl(166 100% 37%);
  --clr-green-50: hsl(162 63% 97%);

  --clr-gradient-1: linear-gradient(
    180deg,
    rgba(77, 33, 201, 1) 0%,
    rgba(37, 33, 201, 0) 100%
  );
  --clr-gradient-2: linear-gradient(
    180deg,
    rgba(119, 85, 255, 1) 0%,
    rgba(47, 44, 233, 1) 100%
  );
}

body {
  min-height: 100mvh;

  @media (min-width: 768px) {
    background-color: var(--clr-blue-50);
    align-content: center;
  }
}

main {
  margin-inline: auto;
}

.result {
  display: grid;
  gap: 1.5rem;
  background-color: var(--clr-white);
}

.results-card {
  color: var(--clr-navy-200);
  background: var(--clr-gradient-2);
  border-radius: 0 0 2rem 2rem;
}

.results-card__content {
  display: grid;
  gap: 1.5rem;
  justify-items: center;

  margin-block: 2rem;
  margin-inline: auto;
  width: 260px;
  text-align: center;
}

.results-card__title {
}

.results-card__description {
  display: grid;
  gap: 0.5rem;
}

.results-card__score {
  color: var(--clr-white);
}

.result-badge {
  background: var(--clr-gradient-1);
  border-radius: 50%;
  width: 150px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-badge__score {
  color: var(--clr-white);
}

.summary {
  width: 315px;
  margin-inline: auto;

  display: grid;
  gap: 1.5rem;
}

.summary__header {
  color: var(--clr-navy-950);
}

.summary__categories {
  display: grid;
  gap: 1rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;

  &.red {
    background-color: var(--clr-red-50);
  }

  &.yellow {
    background-color: var(--clr-yellow-50);
  }

  &.green {
    background-color: var(--clr-green-50);
  }

  &.blue {
    background-color: var(--clr-blue-50);
  }
}

.category__content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.category__icon {
}

.category__title {
  .red & {
    color: var(--clr-red-400);
  }

  .yellow & {
    color: var(--clr-yellow-400);
  }

  .green & {
    color: var(--clr-green-500);
  }

  .blue & {
    color: var(--clr-blue-800);
  }
}

.category__score {
  color: hsl(from var(--clr-navy-950) h s l / 0.5);

  & span {
    color: var(--clr-navy-950);
  }
}

button {
  height: 3.5rem;
  border-radius: 100vh;
  color: var(--clr-white);
  background-color: var(--clr-navy-950);
  border: transparent;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: var(--clr-gradient-2);
  }
}
